@charset "UTF-8";

.html{
      background: white;     
}

body{
}

#title{
  padding: 40px;
  margin-bottom: 4%;
  border-radius: 25px;
}

h1{
  font-family: Georgia, Serif;
  font-size: 40px;
  text-align: center;
  border-radius: 25px;
  padding:10px;
  opacity:1;
}

h2{
  font-family: Georgia, Serif;
  font-size: 25px;
  text-align: center;
}

h3{
  font-family: Georgia, Serif;
  font-size: 25px;
  text-align: center;
}

#img_isra:hover{
  border-radius: 50%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 10px #99A799;
}

ul{
  font-family: Garamond, Serif;
  font-size: 18px;  
  margin-left: 2%;
}

p{
  font-family: Garamond, Serif;
  font-size: 20px;  
  margin-left: 2%;
  opacity:1;
}

#isra{
  background-color: rgb(226, 194, 185);
  border-radius: 25px;
  opacity: 0.8; 
  float: left;
  width: 80%;
  margin-bottom: 1em;
}

#isra:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 10px #99A799;
}

#lujain:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 10px #99A799;
}

#isra_link{
	text-align: center;
	font-size: 15px
}

#isra_img{
  float: left;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

#lujain{
  background-color: rgb(226, 194, 185);
  border-radius: 25px;
  opacity: 0.8; 
  float: left;
  width: 80%;
  margin-bottom: 30px;
}

#lujain_link{
	text-align: center;
	font-size: 15px
}

#lujain_img{
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

form{
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}

input[type=text], [type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}

input[type=submit] {
  background-color: rgb(226, 194, 185);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c0c0c0;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer{
  font-family: Garamond, Serif;
  font-size: 15px;  
  text-align:right;  
}

.container{
	background-color: rgb(226, 194, 185);
	background-size: cover;	
}

.carousel-item{
	height: 400px;
}

     
    





