@charset "UTF-8";

/* General */
body {
  font-family: Georgia, Serif;
  color: black;
}
h1, h2, h3, h4, h5, ul, p, li, a {
  font-family: Georgia, Serif;
}
.bg-color {
  background-color: #DFD3C3;
}
.alert-info {
	max-width: 600px;
	margin: auto;
}

/* Buttons */
#btn-custom {
  background-color: #A68DAD;
  border: none;
  width: 100%
}
#btn-custom:hover {
  background-color: #84708A;
}
#btn-group-custom {
  background-color: #C7B198;
  border: none;
}
#btn-group-custom:hover {
  background-color: #AF9A82;
}

/* Navigation bar */
.navbar-custom {
  background-color: #A68DAD;
}
.navbar-brand {
  font-weight: bold;
}

/* Carousel */
.carousel-item {
  height: 400px;
  background: url(meet-books.jpg);
  background-size: cover;
}
#personal-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#personal-img-hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 10px white;
}

/* Jumbotron */
.contact-jumbotron {
  color: white;
  text-align: center;
  height: 250px;
  background: url(contact-books.jpg);
  background-size: cover;
}
.meet-jumbotron {
  color: white;
  margin: 16px;
}
.link {
  text-align: center;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #F0ECE3 !important;
  font-family: Garamond, Serif;
}
.card-row {
  padding: 30px;
}
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Contact form */
.form-container {
  max-width: 600px;
  margin: 10px auto;
  background-color: #F0ECE3;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: Garamond, Serif;
}

.darkMode{
  background-color: black;
  color: white;	
}

footer{
  font-family: Garamond, Serif;
  font-size: 15px;  
  text-align:right;  
  padding: 10px;
  background-color: #C7B198;
  color: white;
}




