@charset "UTF-8";

.html{
      background: #D3E4CD;
}

body{
}

#title{
  padding: 30px;
	
}
h1{
  font-family: Georgia, Serif;
  font-size: 40px;
  text-align: center;
  border-radius: 25px;
}
h2{
  font-family: Georgia, Serif;
  font-size: 25px;
  text-align: center;
}
h3{
  font-family: Georgia, Serif;
  font-size: 25px;
  text-align: center;
}

img{
  border-radius: 50%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}
img:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  
  box-shadow: 10px 10px 10px #99A799;
}
ul{
  font-family: Garamond, Serif;
  font-size: 18px;  
  margin-left: 2%;
}
p{
  font-family: Garamond, Serif;
  font-size: 20px;  
  margin-left: 2%;
}

#isra{
  background-color: rgb(226, 194, 185);
  border-radius: 25px;
  opacity: 0.8; 
  float: left;
  width: 80%;
  margin-bottom: 1em;
}
#isra_link{
	text-align: center;
	font-size: 15px
}
#isra_img{
  float: left;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

#lujain{
  background-color: rgb(226, 194, 185);
  border-radius: 25px;
  opacity: 0.8; 
  float: left;
  width: 80%;
  margin-bottom: 1em;
}
#lujain_link{
	text-align: center;
	font-size: 15px
}
#lujain_img{
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

form{
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
input[type=text],[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#message_form{
	height: 100px;
}
#submit_form{
	cursor: pointer;
	background: white;
}

footer{
  font-family: Garamond, Serif;
  font-size: 12px;  
}

     
    





